@charset "utf-8";


#menu_top ul li, #menu_top ul li a {
	width:108px;
	text-align:center;}
	
#store_locator ul li {
	background:url(images/puce_feuille.png) no-repeat left; 
	padding-left:28px; 
	margin-left:-28px;}